{% block body %}
	{{ form_start(form) }}
	{#    {{ form_widget(form) }} #}
	<ul class="propositions" data-index="{{ form.propositions|length > 0 ? form.propositions|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.propositions.vars.prototype)|e('html_attr') }}"></ul>
	<button type="button" class="add_item_link" data-collection-holder-class="propositions">Ajouter une proposition
	</button>
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}
{% endblock %}
