{% extends 'base.html.twig' %}

{% block title %}Nouvelle Question
{% endblock %}

{% block body %}
	<div class="flex justify-center py-8">
		<div class="w-full max-w-md">
			<h1 class="mb-5 text-center text-2xl font-semibold text-gray-900 dark:text-white">Nouvelle Question</h1>
			<form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
				<div class="mb-4">
					{{ form_start(form) }}
					{% for field in form %}
						{% if field.vars.name != '_token' %}
							<div class="mb-5">
								{{ form_label(field, null, { label_attr: { class: 'block text-gray-700 text-sm font-bold mb-2', for: field.vars.id } }) }}
								{{ form_widget(field, { attr: { class: 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline', id: field.vars.id } }) }}
							</div>
						{% endif %}
					{% endfor %}
					<div class="flex items-center justify-between">
						<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
							{{ button_label|default('Save') }}
						</button>
					</div>
					{{ form_end(form) }}
				</div>
			</form>
		</div>
	</div>
{% endblock %}
