{% extends 'base.html.twig' %}

{% block title %}
  Edit Organisme
{% endblock %}

{% block body %}
  <h1>Edit Organisme</h1>

  <div class="flex flex-col">
    {% if organisme.image and organisme.image.data %}
      <a href="{{ path('app_user_image') }}" class="block w-28 h-28 rounded-full overflow-hidden shadow-lg border-2 border-gray-300 mb-4"><img src="data:{{ organisme.image.getContentType() }};base64,{{ organisme.image.data }}" alt="Profile Image" class="object-cover w-full h-full" /></a>
    {% else %}
      <p class="text-gray-500 mb-4">Pas d'image de profil disponible.</p> {# mb-4 pour la cohérence de l'espace #}
    {% endif %}

    {{ include('image/image.html.twig', { button_label: 'Update' }) }}
  </div>

  {{ include('organisme/_form.html.twig', { button_label: 'Update' }) }}

  <a href="{{ path('app_organisme_index') }}">back to list</a>

  {{ include('organisme/_delete_form.html.twig') }}
{% endblock %}
