{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src='fullcalendar/core/locales-all.global.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        if (calendarEl){
            $.get( "/creneau/calendar", function( data ) {
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    locale: 'fr',
                    allDayText: 'Journée complete',
                    firstDay: 1,
                    initialView: 'timeGridWeek',
                    headerToolbar: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    dateClick: function(info) {
                        $.post("/creneau/calendarNew", {date: info.dateStr}, function(data) {
                            
                        });
                    },
                    events: data
                });
                calendar.setOption('locale', 'fr');
                calendar.render();
            });
        }
        });
    </script>
{% endblock %}

{% block body %}
    <div class="flex flex-col gap-y-4 justify-center items-center h-full">
        {% if formateur and formateur.organisme|length > 0 %}
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                    Vos organismes<p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Parcourez la liste des organismes que vous avez.</p>
                </caption>
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Photo</th>
                    <th scope="col" class="px-6 py-3">Nom</th>
                    <th scope="col" class="px-6 py-3">Voir formations</th>
                    <th scope="col" class="px-6 py-3">Modifier l'organisme</th>
                </tr>
                </thead>
                <tbody>
                {% for organisme in formateur.organisme %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                         {% if organisme.image and organisme.image.data %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">    
                        <div class="block w-10 h-10 rounded-full overflow-hidden shadow-lg border-2 border-gray-300 mb-4"><img src="data:{{ organisme.image.getContentType() }};base64,{{ organisme.image.data }}" alt="Profile Image" class="object-contain w-full h-full" /></div></th>
                         {% else %}
                         <th class="text-gray-500 mb-4">Pas d'image</th>
                          {% endif %}
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ organisme.name }}</th>

                        <td class="px-6 py-4">
                            <a href="{{ path('app_organisme_show', { id: organisme.id }) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Voir formations</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ path('app_organisme_edit', { id: organisme.id }) }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Modifier organisme</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Vous n'avez pas d'organisme</p>
        {% endif %}
        <div class="flex justify-center items-center">
            <a href="/organisme/new">
                <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                    Créer un organisme
                </button>
            </a>
        </div>
    </div>
    <p class="text-2xl font-bold mt-5 mb-10">Vos prochains cours :</p>
    <div id="calendar"></div>
{% endblock %}
