{% extends 'base.html.twig' %}

{% block title %}
    Edit User
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="bg-green-500 text-white p-4 mb-4">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <h1 class="text-2xl py-5">Mon profile</h1>

    <div class="flex flex-col">
        {% if app.user and app.user.image and app.user.image.data %}
            <a href="{{ path('app_user_image') }}"
               class="block w-28 h-28 rounded-full overflow-hidden shadow-lg border-2 border-gray-300 mb-4">
                <img src="data:{{ app.user.image.getContentType() }};base64,{{ app.user.image.data }}"
                     alt="Profile Image" class="object-contain w-full h-full"/>
            </a>
        {% else %}
            <p class="text-gray-500 mb-4">Pas d'image de profil disponible.</p>
        {% endif %}

        {{ include('image/image.html.twig', { button_label: 'Update' }) }}
    </div>

    {{ include('user/_form.html.twig', { button_label: 'Update' }) }}

    {{ include('user/_delete_form.html.twig') }}

    <div class="">
        <button class="text-white bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">
            <a href="{{ path('app_eleve_stats') }}">Stats</a>
        </button>
    </div>
{% endblock %}
